
.loginImage{
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.inputBox{
    width: 250px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-align: left;
    word-spacing: 0px;   
    border: solid 1px #DBDBDB;
    border-radius: 3px;
}
input.inputBox::placeholder{
    color: #868282;
    font-size: 12px;
    transform: translateY(-10px);
    transition: all 0.3s;
    font-weight: 400;
 
}
  